<div class="page-header">
    <h1>Tantárgy szerkesztés</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationErrors.tantargy}}
                has-error
            {{/if}}
        ">
            <label for="tantargy" class="col-lg-2 control-label">Tantárgy</label>
            <div class="col-lg-10">
                <input class="form-control" id="tantargy" name="tantargy" type="text" value="{{data.subjectname}}">
                {{#if validationErrors.tantargy}}
                    <span class="help-block">{{validationErrors.tantargy.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.kredit}}
                has-error
            {{/if}}
        ">
            <label for="kredit" class="col-lg-2 control-label">Kredit</label>
            <div class="col-lg-10">
                <input class="form-control" id="kredit" name="kredit" type="text" value="{{data.creditvalue}}">
                {{#if validationErrors.kredit}}
                    <span class="help-block">{{validationErrors.kredit.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.leiras}}
                has-error
            {{/if}}
        ">
            <label for="leiras" class="col-lg-2 control-label">Leírás</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="leiras" name="leiras">{{data.description}}</textarea>
                <span class="help-block">Meg kell adni a helyszínt, ha pedig konkrét géppel van probléma, akkor azt is.</span>
                {{#if validationErrors.leiras}}
                    <span class="help-block">{{validationErrors.leiras.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>        